{% extends "layout.html" %}
{% block head%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/chatroom.css') }}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
<script src="{{ url_for('static', filename='chatroom.js')}}"></script>
{% endblock %}
{% block body %}

<div class="hamburger">
  <div></div>
  <div></div>
  <div></div>
</div>
<div id="channel-overlay" class="channel-overlay">
  <div class="channel-overlay-wave"></div>
  <div class="channel-overlay-container">
    <div class="cancel"><i class="fas fa-times fa-2x"></i><br>esc</div>
    <h1>Create a Channel</h1>
    <form id="create-channel" class='channel-creation-form'>
      <label for="channel-name">Name</label>
      <input autocomplete="off" type="text" id="channel-name">
      <label for="channel-description">Description</label>
      <input autocomplete="off" type="text" id="channel-description">
      <button class="button-main">Create</button>
    </form>
  </div>
</div>
<div class="client">
  <!-- Channels -->
  <div class="column channel-wrapper">
    <div class="channel-heading">
      <strong>Wave</strong>
      <img class="wave-svg" src="{{ url_for('static', filename='images/wave4.svg') }}"></img>
    </div>
    <div class="search-rooms" id="search-rooms">
      <input type="text" placeholder="Search rooms">
      <i class="fas fa-search"></i>
    </div>
    <div id="channels" class="channel-list">
      <div class="channel active">General</div>
    </div>
    <div class="create-channel">
      <button id="open-channel-overlay" class="button-create-channel">Create Channel
        <!-- <i class="fas fa-plus fa-sm"></i> -->
      </button>
    </div>
    <div class="exit">
      <img class="wave-svg" src="{{ url_for('static', filename='images/wave-reflect-y.svg') }}"></img>
      Exit Wave <i class="fas fa-door-open"></i>
    </div>
  </div>
  <!-- End Channels -->
  <!-- Messages -->
  <div class="column messages-wrapper">
    <div class="current-channel">
      <div id="header-channel-name"></div>
      <div id="description">Discuss Anything &nbsp;</div>
      <!-- <span id="users">(15)</span> -->
    </div>
    <div id="messages">
    </div>
    <form id="send-message" class='user-input'>
      <input autofocus autocomplete="off" type="text" placeholder="Type something here..." id="user-message">
      <button class='button-main'><i class="far fa-smile"></i></button>
      <button class="button-main">Send</button>
    </form>
  </div>
  <!-- End Messages -->

</div>

{% endblock %}
