{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/login.css') }}">
<script src="{{ url_for('static', filename='login.js')}}"></script>
{% endblock %}
{% block body %}
  <div class="container">
      <div class="logo">
        <object class="wave" data="{{ url_for('static', filename='images/wave.svg') }}"></object>
      </div>
    <div class="login">
      <div class="greeting">
        <h2>Welcome to Wave</h2>
        <h4>Choose your username and hop into the chat!</h4>
      </div>
      <form class="form">
        <input class="input username" type="text">
        <button type="submit" id="login" class="button-main join">Join</button>
      </form>
    </div>
  </div>
{% endblock %}
